[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "==2.2.21"
django-cors-headers = "*"
djangorestframework = "*"
graphene-django = "*"
psycopg2-binary = "*"
django-filter = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
