aniso8601==7.0.0
autopep8==1.5.2
Django==2.2.10
django-cors-headers==3.3.0
django-filter==2.2.0
djangorestframework==3.11.0
graphene==2.1.8
graphene-django==2.10.1
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.0.4
promise==2.3
psycopg2-binary==2.8.5
pycodestyle==2.6.0
pytz==2020.1
Rx==1.6.1
singledispatch==3.4.0.3
six==1.15.0
sqlparse==0.3.1
